
main{
    padding: 0 12px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.containerQuery h1 {
    width: 343px;
    color: #252525;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 8px;
}

.text {
    margin: 0;
    padding: 0;
    font-size: 12.4px;
    line-height: 1.6;
    color: #555555;
}

.infoDetail {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.infoDetail span {
    color: #f43127;
    font-size: 20px;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
}

.textDetail {
    color: #6c757d;
    line-height: 1.7;
    font-size: 16px;
}


.messageForm {
    margin-top: 45px;
    background-color: rgb(245, 245, 245);
    padding: 40px ;
    border-radius: 15px;
    margin-bottom: 120px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-top: 0;
   
}

.title h2 {
    font-size: 26px;
    font-weight: 700;
    color: #252525;
    line-height: 2.5;
}

.Components {   
    padding: 10px;

}

.Components input {
    background-color: #F9FAFC;
    width: 80%;
    border: 1px solid #eee;
    padding: 16px 12px;
    font-family: inherit;
    font-size: 13px;
    line-height: inherit;
    border-radius: 30px;
}


.messageComponent{
    padding: 10px;
}

.messageComponent textarea {
    justify-self: flex-start;
    height: 200px;
    background-color: #F9FAFC;
    width: 80%;
    border: 1px solid #eee;
    padding: 16px 12px;
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
    border-radius: 30px;
}

.butoniIStl {
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #f43127;
    padding: 15px 30px;
    z-index: 1;
    line-height: 1.6;
    letter-spacing: 1px;
    overflow: hidden;
}


.content {
    padding-top: 120px;
}

.content img {
    width: 100%;
}

.clientsMsgs p {
    color: #f43127;
    font-size: 14px;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: 1px;
    margin-top: 20px;

}

.clientsMsgs h2 {
    color: #252525;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 8px;
}


.textSlide p {
    font-size: 13px;
    color: #555555;
    line-height: 26px;
    padding: 16px 0 0;
    margin: 0 0 16px;
}

.autori h3 {
    font-size: 20px;
    font-weight: 900;
    line-height: 2;
}

.autori p {
    font-size: 12px;
}

