* {
  font-family: "Roboto Mono", monospace;
}
body {
  background-image: linear-gradient(to bottom, #ffdd00, #fbb034);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 210vh;
  flex-direction: column;

  flex-direction: column;
}
.main {
  position: relative;
  height: 60vh;

  overflow: hidden;
  width: 90%;
  gap: 200px;
  display: flex;
  flex-direction: column;
  border: 10px solid whitesmoke;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
.login {
  /* transform: translateY(-40vh); */
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register {
  /* transform: translateY(-40vh); */
  align-items: center;
  width: 100%;
  border-radius: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}
.register h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
}
.signin,
.signup {
  display: none;
}
.inpt {
  width: 25vh;
  height: 2.5vh;
  border: none;
  border-radius: 10px;
  background: lightgrey;
}
.btn {
  margin-top: 2rem;
  width: 15vh;
  height: 3vh;
  background-color: #ff0000;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.guest {
  width: 12vh;
  height: 5vh;
  background-color: #ff0000;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  padding: 10px;
  bottom: 45%;
  margin-left: 6rem;
  z-index: 10;
  color: white;
  font-size: small;
}
img {
  display: none;
}

@media only screen and (min-width: 992px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background: whitesmoke;
    overflow: hidden;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1674188473558-53d2c4bec75f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1447&q=80");
  }
  .main {
    position: relative;
    height: 70vh;
    width: 120vh;
    display: flex;
    flex-direction: row;
    border: 1px solid gainsboro;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: white;
  }
  .login {
    height: 60vh;
    width: 60vh;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
  }
  .register {
    width: 60vh;
    height: 60vh;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  .overlay {
    color: white;
    height: 70vh;
    width: 60vh;
    position: absolute;
    background: transparent;
    left: 60vh;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    /* transform: translateX(45vh); */
    z-index: 10;
  }
  .guest {
    width: 20vh;
    height: 6vh;
    background-color: #ff0000;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    bottom: 45%;
    margin-left: 7rem;
    z-index: 10;
    color: white;
    font-size: large;
  }
  .right {
    transform: translateX(45vh);
    transition: transform 1s ease-in;
  }
  .left {
    transform: translateX(-45vh);
    transition: transform 1s ease-in;
  }
  img {
    display: block;
  }
  .signin,
  .signup {
    display: inline;
    z-index: 1;
  }
  /*  */
  .input {
    width: 25vh;
    height: 3vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
    color: #fff;
    background-color: rgb(28, 28, 30);
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;

    transition: 0.4s;
  }

  .input:hover {
    box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
  }

  .input:focus {
    box-shadow: 0 0 0 0.15vw skyblue;
  }
  /*  */

  .btnSI {
    margin-top: 2rem;
    width: 15vh;
    height: 3vh;
    background-color: #ff0000;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  .btnSU {
    margin-top: 2rem;
    width: 15vh;
    height: 3vh;
    background-color: #ff0000;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}
